.about a {
    color: var(--primary-text);
    text-decoration: none;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 0px;
}

.about .row-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.about .row-one .about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.about .row-one .about-me-motion {
    width: 550px;
    height: 220px;
}

.about .row-one .media-motion {
    width: 220px;
    height: 220px;
}

.about .row-one .media {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.about .row-one .media:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.about .row-two {
    display: flex;
    align-items: end;
    gap: 20px;
}

.about .row-two .skill-motion {
    width: 70%;
}

.about .row-two .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.about .tools {
    margin-bottom: 20px;
}

.about .row-two .col-one {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}

.about .row-two .col-one .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 5px 10px;
}

.about .row-two .col-one .col-one-row-one {
    display: flex;
    width: 100%;
    gap: 20px;
}

.about .project-motion, .about .experience-motion {
    width: 50%;
    aspect-ratio: 1/1;
}

.about .about-project,  .about .about-experience{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

@media only screen and (max-width: 1024px) {
    .about .row-one .about-me-motion {
        width: 450px;
        height: 180px;
    }
    
    .about .row-one .media-motion {
        width: 180px;
        height: 180px;
    }
    .about .tools {
        margin-bottom: 10px;
    }
    .about .about-project,  .about .about-experience, .about .row-one .about-me-motion .about-me, .about .row-two .skill-motion .skill{
        gap: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        padding: 20px 0px;
    }
    .about .project-motion,  .about .experience-motion, .about .contact-motion{
        display: none;
    }
    .about .row-two {
        flex-direction: column;
    }
    .about .row-two .col-one {
        width: 100%;
        gap: 0px;
    }
    .about .row-one {
        flex-direction: column-reverse;
    }
    .about .row-one .media-motion {
        width: 160px;
        height: 160px;
    }
    .about .row-one .about-me-motion, .about .row-two .skill-motion {
        width: 100%;
        height: auto;
        aspect-ratio: auto;
    }
    .about .row-one .about-me-motion .about-me, .about .row-two .skill-motion .skill {
        padding: 20px;
        gap: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .crate-title {
        display: none;
    }
}