.experience-and-education a {
    color: var(--primary-text);
    text-decoration: none;
}

.experience-and-education {
    padding: 50px 0px;
}

.experience-and-education .experience-container {
    width: 100%;
    display: flex;
    padding: 20px 0px;
}

.experience-and-education .experience-title {
    width: 25%;
}

.experience-and-education .experience-title h6 {
    cursor: pointer;
    padding: 10px 0px;
}

.experience-and-education .details {
    width: 75%;
    padding: 20px;
    border-left: 1px solid var(--secondary-main);
}
.experience-and-education .details .achievements {
    margin-top: 10px;
}
.experience-and-education .experience-icons {
    margin-top: 0.2vw;
}

@media only screen and (max-width: 768px) {
    .experience-and-education {
        padding: 20px 0px;
    }
    .experience-and-education .experience-container {
        display: flex;
        flex-direction: column;
    }
    .experience-and-education .experience-title h6 {
        padding: 5px 0px;
    }
    .experience-and-education .experience-title {
        width: 100%;
    }
    .experience-and-education .details {
        border-left: none;
        border-top: 1px solid var(--secondary-main);
        width: 100%;
    }
}

