.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 95vh;
}

.intro .header-box {
    border-top: 2px solid var(--secondary-main);
    border-bottom: 2px solid var(--secondary-main);
    text-transform: uppercase;
    text-align: center;
}

.intro .icons {
    display: flex;
    gap: clamp(10px, 1.5vw, 20px);
}

.intro a {
    color: var(--primary-text);
    text-decoration: none;
}

.intro .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    .quote {
        text-align: center !important;
        font-size: clamp(10px, 3vw, 20px) !important;
    }
    .intro .icon-container {
        height: 50px;
        width: 50px;
    }
}
@media only screen and (max-width: 425px) {
    .intro {
        gap: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .quote {
        font-size: 9px !important;
    }
}



